.banner {
    background: var(--cor-degrade);
    color: var(--cor-principal);
    text-align: center;
    padding: 2.5em 2em;

}

.banner__titulo {
    padding-top: 1em;
    font-size: 22px;
    font-weight: 700;
}

.banner__paragrafo {
    font-weight: 500;
    margin: 1.5em 0;
    font-size: 18px;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-principal);
    color: var(--cor-principal);
    border-radius: 24px;
    margin-bottom: 3em;
    padding: 1.5em 1em 1.5em 1em;
    width: 100%;    
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 2em;
    color: var(--cor-principal);
    background: url("../assets/Pesquisa.svg") no-repeat;
    text-align: left;    
}

.banner__pesquisa:focus {
    display: none;
}
