.banner {
    background: var(--cor-degrade);
    color: var(--cor-principal);
    text-align: center;
    padding: 2.5em 2em;

}

.banner__titulo {
    padding-top: 1em;
    font-size: 22px;
    font-weight: 700;
}

.banner__paragrafo {
    font-weight: 500;
    margin: 1.5em 0;
    font-size: 18px;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-principal);
    color: var(--cor-principal);
    border-radius: 24px;
    margin-bottom: 3em;
    padding: 1.5em 1em 1.5em 1em;
    width: 100%;    
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 2em;
    color: var(--cor-principal);
    background: url("../assets/Pesquisa.svg") no-repeat;   
}

.banner__pesquisa:focus {
    display: none;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
        text-align: center;
        
    }

    .banner__pesquisa::placeholder {
        background-position: 7em;
        padding-left: 0em;
    }
}


@media screen and (min-width: 1728px) {

    .banner__titulo {
        font-size: 50px;
    }

    .banner__paragrafo {
        font-size: 30px;
    }


    .banner__pesquisa::placeholder {
        font-family: var(--fonte-principal);
        font-size: 22px;
        font-weight: 400;
        color: var(--cor-principal);
        background: url("../assets/Pesquisa.svg") no-repeat;   
        background-position: 8.3em;
        background-size: 1.3em;
        align-items: center;
    }
}
