.contato {
    color: var(--cor-terciaria);
    background-color: var(--cor-principal);
    padding: 1em;
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contato__descricao{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.contato__titulo {
    color: var(--cor-degrade);
    font-size: 20px;
    font-weight: 500;
}


.contato__paragrafo {
    color: var(--cor-degrade);
    font-size: 18px;
    font-weight: 300;
}

.contato__email {
    border: solid var(--cor-terciaria) 2px;
    border-radius: 20px;
    font-size: 18px;
    width: 90%;
    padding: 0.5em;
}

.contato__email::placeholder {
    color: var(--cor-terciaria);
    background: url("../assets/email.svg") no-repeat;
    background-position: left;
    padding-left: 2em;
}

@media screen and (min-width: 1024px){
    .contato {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 3em;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__email {
        width: 30%
    }
    
    .contato__descricao {
        display: flex;
        gap: 1em;
        text-align: left;
        margin: 0 1em 0 0;
        width: 30%;
    }
    
}
