.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    
}

.container__botao {
    display: none;
}

.container__imagem {
    padding: 1em;
    width: 3em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}



.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__titulo {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-principal);
}


.lista-menu__titulo {
    color: var(--cor-secundaria);
    font-weight: bold;
    font-weight: 700;
    font-size: 20px;
}

.lista-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-degrade);
}

.lista-menu__link:hover {
    text-shadow: 0 0 20px var(--cor-secundaria), 0 0 500px var(--cor-secundaria);
}

.lista-menu__item:hover {
    background-color: rgb(0, 208, 255);
    
}

.opcoes {
    display: none;
}

.opcoes__link:hover {
    text-shadow: 0 0 20px var(--cor-terciaria), 0 0 5000px var(--cor-terciaria);

}

.container__imagem--texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho{
        padding: 0 4em 0 4em;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__categoria:hover{
        background-color: rgb(1, 1, 92);
        border: var(--cor-degrade);
        color: rgb(255, 255, 255);
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0 2em 0 2em;
    }

    .opcoes__link {
        text-decoration: none;
        color: black;
    }

    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__categoria:focus {
        color: blue;
    }
    
}

@media screen and (min-width: 1728px){
    .cabecalho {
        
    }

    .opcoes{
        margin: 0 0 0 -30em;
    }

    .opcoes__item {
        margin: 0 1em 0 1em;
    }

    .container__imagem {
        display: flex;
        flex-direction: row;
        color: black;
    }
    

    .container__imagem--texto{
        display: flex;
        text-decoration: none;
        margin: 0 1em 0 -1em;
        font-size: 20px;
        font-family: var(--fonte-principal);
        color: black;
    }
    
    .container__imagem-transparente {
        display: none;
    }
    
}
