.topicos {
    background: var(--cor-degrade);
    font-family: var(--fonte-principal);
}

.topicos__titulos {
    text-transform: uppercase;
    color: var(--cor-principal);
    padding: 1.5em;
    font-weight: 300;
    font-size: 18px;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap; /* Quebra de linha */
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.8em
}

.topicos__link {
    color: var(--cor-principal);
    text-decoration: none;
    padding: 1em;
    background-color: var(--cor-secundaria);
    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .topicos__titulos {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 20;
    }
}

@media screen and (min-width: 1728px){
    .topicos {
        padding: 1em 20vw;
    }
    
    .topicos__titulos {
        font-size: 32px;
    }

    .topicos__lista {
        padding: 2em;
    }

    .topicos__link {
        font-size: 28px;
        font-weight: bold;
    }

    .topicos__item {
        margin: 1em 1em 4em 1em;
    }

}
